<div>
  <div style="color: blue;">
    LCD SCREEN
  </div>
  <input
    type="text"
    id="ligne1"
    name="ligne1"
    placeholder="Saisir la première ligne"
    width="100"
  />
  <input
    type="text"
    id="ligne2"
    name="ligne2"
    placeholder="Saisir la deuxième ligne"
    width="100"
  />
  <button
    id="submit-button"
    type="button"
    onclick="fetch('http://localhost:9000/api/lcd', {
      method: 'POST',
      headers: {
      'Accept': 'application/json',
      'Content-Type': 'application/json'
      },
      body: JSON.stringify({ligne1: document.getElementById('ligne1').value, ligne2: document.getElementById('ligne2').value, on_off: '0'})
    })"
  >
    Envoyer
  </button>
  <button
    id="submit-button"
    type="button"
    onclick="fetch('http://localhost:9000/api/lcd', {
      method: 'POST',
      headers: {
      'Accept': 'application/json',
      'Content-Type': 'application/json'
      },
      body: JSON.stringify({ligne1: 'lala', ligne2: 'lala', on_off: '1'})
    })"
  >
    Eteindre Ecran
  </button>
</div>
